<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>elementary</vendor>
  <vendor_url>https://github.com/elementary/initial-setup</vendor_url>
  <icon_name>system-users</icon_name>
  <action id="io.elementary.initial-setup">
    <description>Run Initial Setup as Administrator</description>
    <message gettext-domain="useraccounts-plug">Authentication is required to change user data</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/io.elementary.initial-setup</annotate>
    <annotate key="org.freedesktop.policykit.imply">org.freedesktop.accounts.user-administration</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
